---
import Main from '@/layouts/Main.astro';

import { zenblog } from '@/lib/blog';

import type { Post } from 'zenblog/types'

export async function getStaticPaths() {
	const posts = await zenblog.posts.list();
	return posts.data.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = Post;

const postInfo = Astro.props;

const { data: post } = await zenblog.posts.get({ slug: postInfo.slug });
---

<Main title={post.title} description={post.excerpt}>
	<div>
		<h1>{post.title}</h1>
		<p>{post.excerpt}</p>

		<span>
		Posted on {new Date(post.published_at).toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })}
		</span>
	</div>

	<div set:html={post.html_content}></div>
</Main>
