---
import { Github, Link } from '@lucide/astro';
interface Props {
  name: string;
  image?: string;
  demo?: string;
  repo?: string;
  link?: string;
}

const { name, image, demo, repo, link } = Astro.props;

const titleClassName = [
  "font-semibold text-xl",
];
---

<div class="border border-neutral-600 rounded-sm px-3 py-2 flex flex-col">
  {image && <img src={image} alt={name} />}

  <h3 class={titleClassName.join(" ")}>{name}</h3>

  <p class="leading-normal mt-2">
    <slot />
  </p>

  <div class="pt-2 mt-auto text-sm flex gap-x-1">
    {demo && <a href={demo} target="_blank" class="flex items-center gap-x-1"><Link class="size-6" /> Demo</a>}
    {repo && <a href={repo} target="_blank" class="flex items-center gap-x-1"><Github class="size-6" /> Repo</a>}
    {link && <a href={link} target="_blank" class="flex items-center gap-x-1"><Link class="size-6" /> Link</a>}
  </div>
</div>
