---
import { Github, Link } from '@lucide/astro';
interface Props {
  name: string;
  image?: string;
  demo?: string;
  repo?: string;
}

const { name, image, demo, repo } = Astro.props;

const titleClassName = [
  "font-semibold text-xl black border-b-2",
];
---

<div class="border px-2 py-1">
  {image && <img src={image} alt={name} />}

  <h3 class={titleClassName.join(" ")}>{name}</h3>

  <p class="leading-normal mt-2">
    <slot />
  </p>

  <div class="mt-auto">
    {demo && <a href={demo} target="_blank"><Link> Demo</a>}
    {repo && <a href={repo} target="_blank"><Github> Repo</a>}
  </div>
</div>
